.beaker{
    height:150px;
    width:150px;
    position:relative;
    
}

.red{
    position:absolute;
	width: 100px;
    top:190px;
    left:24px;
    
}

.blue{
    position:absolute;
    top:180px;
    left:10px;
	width: 120px;
}

.beakerTop{
/*
    width:100%;
    height:100%;
*/
    position:absolute;
    left:24px;
    top:108px;
	width: 82px;
    
    
}
.dropper{
    height:50px;
    width:50px;
}

.dropperPic{
    position:relative;
    height:70px;
    width:70px;
    left:60px;
}