.beaker{
    height:150px;
    width:150px;
    position:relative;
    
}

.red{
    position:absolute;
	width: 120px;
    top:150px;
    left:15px;
    
}

.blue{
    position:absolute;
    top:150px;
    left:15px;
	width: 120px;
}

.beakerTop{
/*
    width:100%;
    height:100%;
*/
    position:absolute;
    left:35px;
    top:84px;
	width: 82px;
    
    
}
.dropper{
    position:relative;
    height:50px;
    width:50px;
    top:5px;
}

.dropperPic{
    position:relative;
    height:70px;
    width:70px;
    left:60px;
}