.beaker{
    height:150px;
    width:150px;
    position:relative;
    
}

.red{
    position:absolute;

    width:100%;
    top:190px;
    left:0px;
    
}

.blue{
    position:absolute;
    width:100%;
    top:190px;
    left:0px;
}

.beakerTop{
/*
    width:100%;
    height:100%;
*/
    position:absolute;
    left:24px;
    top:108px;
    
    
}
.dropper{
    height:50px;
    width:50px;
}

.dropperPic{
    position:relative;
    height:100px;
    width:100px;
    left:60px;
}