body {
  font: 10px sans-serif;
}

.titration {
	height: 650px;
	width: 650px;
	background-color: #cccccc;
	border-radius: 15px;
}

.beakerDiv{
	height: 150px;
	width: 150px;
}

.slideDiv{height: 400px; width: 500px; position:relative; top:-150px; left:200px;}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #4b6d96;
  stroke-width: 1.5px;
}

.circleLabel{
	position: relative;
}

.buttonDiv{
	position: relative;
	left: 200px;
	top: -330px;
	width: 500px;
}

.graph{
	position: relative;
	top: -560px;
	left: -20px;
}

.button {
	width: 105px;
	margin-top: 0px;
	margin-right: 5px;
  border-radius: 15px;
}

.circle{
	z-index: 10000;
}

.input{
	margin-right: 15px;
	margin-bottom: 30px !important;
	margin-top: 6 px	!important;
	margin-left: 10 px;
	width: 50px;
}

.inputDiv{
	position: relative;
	float: right;
	top: -570px;
}