body {
  font: 10px sans-serif;
}

.titration {
	height: 620px;
	width: 650px;
	background-color: #cccccc;
	border-radius: 15px;
}

.beakerDiv{
	height: 160px;
	width: 100px;
}

.slideDiv{height: 400px; width: 500px; position:relative; top:-150px; left:200px;}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #4b6d96;
  stroke-width: 1.5px;
}

.buttonDiv{
	position: relative;
	left: 180px;
	top: -380px;
	width: 500px;
}

.graph{
	position: relative;
	top: -580px;
	left: -20px;
}

.button {
	width: 100px;
	margin-top: 20px;
	margin-right: 20px;
  border-radius: 15px;
  background-color: hsl(214, 37%, 52%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ced9e8", endColorstr="#577eb1");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ced9e8), to(#577eb1));
  background-image: -moz-linear-gradient(top, #ced9e8, #577eb1);
  background-image: -ms-linear-gradient(top, #ced9e8, #577eb1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ced9e8), color-stop(100%, #577eb1));
  background-image: -webkit-linear-gradient(top, #ced9e8, #577eb1);
  background-image: -o-linear-gradient(top, #ced9e8, #577eb1);
  background-image: linear-gradient(#ced9e8, #577eb1);
  border-color: #577eb1 #577eb1 hsl(214, 37%, 43.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}

.input{
	width: 50px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.inputDiv{
	position: relative;
	float: right;
	top: -582px;
}